h1 {
  text-align: center;
}

.todocontainer {
  background-color: white;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  border-radius: 10px;
  box-shadow: 0 0 5px;
}

.todofields {
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
}

.todofields > input {
  width: 250px;
  height: 25px;
  border-radius: 5px;
  border: none;
  background-color: gray;
  opacity: 0.3;
  color: white;
}

.todofields > button {
  background-color: #00d4fa;
  border: none;
  width: 40px;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 5px;
}

.todoValues {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
  background-color: #00fad0;
  margin-top: 10px;
  height: 30px;
  width: 300px;
  border-radius: 4px;
}

.todoValues > div {
  margin-right: 4px;
  margin-left: 4px;
}

.deletebutton {
  cursor: pointer;
}
